/* GOOGLE CSS */

#navbar {
	position:absolute;
	top:0;
	left:75%;	
}

#navbar a {
	text-decoration: none;
	padding:10px;
	color:#000000;
	font-size:.8em;
	font-family:Helvetica, Arial;

}

nav > a > #face {
	
	height:40px;
	width:45px;
	border-radius:50%;

}

 #google {
	display:block;
	margin:200px auto auto auto;
	width:20%;
}
	
form {
	text-align:center;
	margin:15px 0px 5px 0px;
}

#textarea {
	height:30px;
	width:600px;
	box-shadow: 10px 10px 5px #efefef;
}

div.googlebuttons {
	position:absolute;
	top:55%;
	left:41.5%;
	margin:35px 0px 0px 0px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  font-size:.8em;
  font-family:Helvetica, Arial;

}

footer a {
	 color:#000000;
}

.leftfooter {
	float:left;
	padding:10px;
	text-decoration:none;
}

.rightfooter {
	float:right;
	padding:10px;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}